.header-fix{
	position: fixed;
	top: 0px;
	left: 0px;
	padding-bottom: 20px;
	width: 100%;
	background-color: dimgray; opacity: 0.8;
	
	}
.header-flex{display: flex;
justify-content: space-between;
margin-top: 30px;
margin-left: 100px;
margin-right: 30px;
font-size: 16px;
color: aqua;
}
.logo-menu{font-size: 16px;
color: aqua;}

.menu{display: inline-block;
margin-left: 20px; 
font-size: 12px;
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
color: aqua;
}
.active{color:red;}
.image-box{ display: flex;
	align-items: center;
	background-image: url(../images/head-picture.png);
	height: 324px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.about{color: white;
	font-size: 36px;
font-family: 'Poppins', sans-serif;
margin-left: 100px;
}
.container{max-width: 90%;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
}
.left-block{width: 45%;}
.text1{
	font-family: 'Lato';
	font-size: 50px;
	/* width: 40%; */
}
.text2{
	font-family: 'Lato';
	font-size: 16px;
	margin: 25px 0px;
}
.viw-button{
	width: 307px;
	height: 72px;
	color: #fff;
	background-color: #325dff;
	display: flex;
	justify-content: center;
	align-items: center;
  }
.right-block{width: 45%;
background-color: gold;
display: flex;
flex-direction: column;
}
.image-smoll{width: 260px}
.image-smoll .image-r-f {width: 100%;}
.r-bottom{width: 100%;
background-color: indigo;}
.r-f-line{display: flex;
flex-direction: row;
justify-content: space-between;}
  